/* header */
.desktop-menu .level-1>li {
    display: inline-block;
    font-size: 16px;
    transition: none;
    padding: 30px 4px 30px 4px;
    font-weight: 600;
    margin-bottom: 0;
    position: relative;
}

.logo-wrap img {
    max-width: 75px;
    width: 100%;
}

.header {
    box-shadow: 0px 1px 10px #e9f3e6;
}

.desktop-menu .level-1>li>a {
    padding: 0 10px;
}

.header {
    z-index: 999;
    position: relative;
}

.desktop-menu ul.level-2 {
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
    left: 0px;
    top: 60px;
    visibility: hidden;
    opacity: 0;
    transition: all .35s ease-in-out;
    min-width: 165px;
    text-align: left;
}

.desktop-menu ul.level-2>li {
    position: relative;
    transition: all .35s ease-in-out;
}

.desktop-menu ul.level-1>li:hover .level-2 {
    opacity: 1;
    visibility: visible;
    top: 82px;
}

.desktop-menu ul.level-2>li i {
    position: absolute;
    right: 24px;
    top: 15px;
}

.desktop-menu ul>li i {
    color: #cea151;
    color: #157447;
    cursor: pointer;
    font-size: 15px;
    transition: all .35s ease-in-out;
}

.desktop-menu ul>li:hover>i {
    transform: rotate(90deg);
}

.desktop-menu ul.level-2>li:hover,
ul.level-3>li:hover {
    background-color: #effbf7;
}

.desktop-menu ul.level-3 {
    border-radius: 5px;
    position: absolute;
    top: 0;
    background-color: #fff;
    left: 70%;
    visibility: hidden;
    opacity: 0;
    transition: all .35s ease-in-out;
    min-width: 185px;
    text-align: left;
}

.desktop-menu .level-2>li:hover .level-3 {
    opacity: 1;
    visibility: visible;
    left: 100%;
}

.desktop-menu ul.level-3>li {
    position: relative;
    transition: all .35s ease-in-out;
}

.desktop-menu ul>li>a {
    display: inline-block;
}

.desktop-menu ul.level-3>li>a {
    padding: 10px 25px;
    padding-right: 45px;
}

.desktop-menu ul.level-2>li>a {
    padding: 10px 25px;
    padding-right: 45px;
}

.desktop-menu .level-1>li.product {
    position: unset;
}

.desktop-menu .level-1>li.product .level-2 {
    width: 80%;
    margin: 0 auto;
    left: 10%;
    display: flex;
    padding: 20px 30px;
}

.desktop-menu .level-1>li.product {
    text-align: center;
}




.desktop-menu .level-1>li.product .pmenu-list>li>a {
    padding: 3px 25px;
    font-weight: 600;
}

.desktop-menu .level-1>li.product .level-2 li {
    background-color: transparent;
    transition: all .25s linear;
}

.desktop-menu .level-1>li.product .pmenu-list li:hover {
    transform: translateX(8px);
}

.desktop-menu .level-1>li.product .level-2>li {
    width: 25%;
}


.search-icon i {
    font-size: 20px;
    cursor: pointer;
    color: #016837;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
}

.search-icon i:hover {
    color: #02291c;
}

.search-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(239, 251, 247, 0.92);
    overflow: hidden;
    transition: all .25s linear;
    visibility: hidden;
    opacity: 0;
}

.search-open .search-wrap {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: all .25s linear;
}

.search-open {
    overflow: hidden;
}

.search-wrap .search {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-wrap .s-form {
    margin-bottom: 10px;
    font-size: 25px;
    color: #02291c;
    cursor: pointer;
}

.search-wrap .s-form i {
    padding: 10px;
}

.search-wrap .search>form {
    text-align: center;
}

.search-wrap .search>form input {
    width: 100%;
    display: inline-block;
    border: 0;
    background-color: transparent;
    color: #02291c;
    border-bottom: 2px solid #016837;
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
    padding: 8px 15px;
}

.search-wrap .search>form input:focus {
    outline: none;
}

@media(min-width:1025px) {
    .desktop-menu .level-1>li.product .level-2>li>a {
        color: #cea151;
        padding: 10px 25px;
        font-weight: 600;
    }

    .mobile-toggle {
        display: none;
    }

    .desktop-menu .level-1>li.product .level-2>li i {
        display: none;
    }
    .desktop-menu .level-1>li.product .pmenu-list>li>a {
        font-size: 14px;
    }
    .desktop-menu ul.level-1>li:hover .level-2 {
        box-shadow: 0 2px 8px #8d7bd133;
    }
    
    .desktop-menu .level-2>li .level-3 {
        box-shadow: 0 2px 8px #8d7bd133;
        font-size: 14px;
        min-width: 300px;
    }
    
}

@media(max-width:1024px) {
    body.mobile-open {
        overflow: hidden;
    }

    .mobile-toggle {
        display: block;
    }

    .desktop-menu {
        display: none;
    }

    .logo-wrap {
        padding: 10px;
    }

    .mobile-toggle {
        font-size: 20px;
        cursor: pointer;
        color: #016837;
        display: inline-block;
        margin-right: 20px;
        transition-duration: 0.5s;
        padding: 8px;
        width: 20px;
    }

    .search-icon {
        display: inline-block;
        padding-right: 12px;
    }

    .mobile-toggle i.fa-xmark {
        display: none;
    }

    .mobile-open .mobile-toggle i.fa-xmark {
        display: block;
    }

    .mobile-open .mobile-toggle i.fa-bars {
        display: none;
    }

    .mobile-toggle:hover {
        color: #02291c;
    }

    .mobile-open .desktop-menu {
        left: 0;
    }

    ul.level-1 {
        max-height: 80vh;
        overflow-y: scroll;
        text-align: center;
        overflow-x: hidden;
        max-width: 767px;
        width: 100%;
        text-align: right;
    }

    .level-1>li {
        display: block;
    }

    .desktop-menu .level-1>li {
        display: block;
        padding: 15px 4px 15px 4px;
    }

    .desktop-menu ul>li i {
        transform: rotate(90deg);
    }

    .desktop-menu ul.level-2 {
        position: relative;
        opacity: 1;
        visibility: visible;
        top: 15px;
        width: 100%;
        display: none;
        transition: none;
    }

    .desktop-menu {
        display: none;
        position: fixed;
        display: block;
        width: 100%;
        background: yellow;
        left: 100%;
        top: 0;
        transition: .5s ease-in-out;
        height: 100%;
        background-color: #effbf7;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .desktop-menu .level-1>li.product .level-2 {
        display: none;
        width: 100%;
        left: 0;
        top: 3px;
        top: 15px;
        padding: 0;
    }

    .desktop-menu ul.level-1>li:hover .level-2 {
        top: 15px;
    }

    .desktop-menu ul.level-2>li:hover,
    ul.level-3>li:hover {
        background-color: transparent;
    }

    .desktop-menu .level-1>li.product .pmenu-list li:hover {
        transform: none;
        background-color: transparent;
    }

    .desktop-menu .level-1>li.product .level-2>li {
        width: 100%;
    }

    ul.pmenu-list {
        display: none;
        padding-left: 15px;
        font-weight: 400;
        background-color: #fff;
        font-weight: 400;
    }

    .desktop-menu .level-1>li.product .pmenu-list>li>a {
        font-weight: 400;
    }

    .desktop-menu .level-1>li.product .level-2>li>a {
        width: 100%;
    }

    .desktop-menu ul.level-2>li i {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desktop-menu ul>li i {
        padding: 5px;
    }

    .desktop-menu ul.level-3 {
        border-radius: 0;
        display: none;
        transition: none;
        left: 0;
        top: -0px;
        position: relative;
        opacity: 1;
        font-weight: 400;
        visibility: visible;
        padding-left: 15px;
    }

    .desktop-menu .level-2>li:hover .level-3 {
        left: 0;
    }


    .desktop-menu ul.level-3>li>a {
        padding: 6px 25px;
    }

    .desktop-menu ul.level-2 li.child-open>a {
        color: #fff;
    }


    .desktop-menu ul.level-2 li.child-open,
    .desktop-menu .level-1>li.product .level-2 li.child-open {
        background-color: #206d3d;
    }

    .desktop-menu ul.level-2 li.child-open i {
        color: #fff;
    }

    .desktop-menu ul.level-2>li i {
        top: 10px;
    }

    ul.level-1::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgb(35 161 85 / 45%);
    }

    ul.level-1::-webkit-scrollbar {
        width: 2px;
    }

    ul.level-1::-webkit-scrollbar-thumb {
        background-color: #206d3d4f;
        outline: 1px solid #206d3d29;
    }

    ul.level-1, .desktop-menu {
        padding: 0 20px;
        text-align: center;
    }

    .mobile-open .mobile-toggle {
        position: absolute;
        top: 30px;
        right: 30px;
    }


}


/* footer */
.footer-top {
    padding: 15px 20px;
}

.footer-wrap .logo img {
    width: 100%;
    max-width: 120px;
}

.social-icons ul>li {
    display: inline-block;
    font-size: 25px;
}

.social-icons ul>li>a {
    color: #02291c;
}

.social-icons ul>li>a:hover {
    color: #016837;
}

.social-icons ul>li:not(:first-child) {
    padding-left: 40px;
}

.left-info .logo {
    margin-top: 50px;
}

.social-icons {
    margin-top: 50px;
}

.f-logo-wrap {
    border-right: 1px solid #016837;
}

.copyright p {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

.copyright {
    color: #313131;
    background-color: #65d9ac1a;
}

.footer-b {
    color: #313131;
    background-color: #65d9ac1a;
    padding: 30px 0px;
}

.address {
    margin-top: 50px;
}

.social-icons.imp-links>ul>li {
    font-size: 18px;
    display: block;
    padding: 0;
}


.footer-b p {
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.footer-b h2 {
    font-weight: 600;
    margin-bottom: 20px;
    color: #000;
}

@media(min-width:1025px) {
    .left-info .col-12:last-child {
        border-left: 1px solid;
        padding: 0 20px;
    }
    ul.level-1 {
        text-align: right;
    }
}


/* home banner  */
.banner-wrap {
    position: relative;
    min-height: 450px;
    background-color: #02291C;
}

.banner-wrap .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: 1;
    background: linear-gradient(#055160, #016837);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-wrap .container {
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    max-width: none;
    justify-content: center;
    top: 0;
    left: 0;
    min-height: 450px;
    z-index: 2;
}

.banner-wrap .b-image img {
    height: calc(100vh - 84px);
    width: 100%;
    transition: 10s cubic-bezier(1, 1.32, 1, 1);
}

.banner-wrap .b-title h2 {
    color: #02291C;
    color: #fff;
}

.banner-wrap .b-subtitle h5 {
    color: #016837;
    color: #fff;
}

.swiper-slide-active img {
    transition: .5s linear;
    transform: scale(1.3);
}


.swiper-pagination-bullet {
    color: #fff;
    background-color: #fff;
}


.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

/* home  */
.section-1 p {
    font-size: 22px;
}

.p-items {
    max-width: 175px;
    display: inline-block;
    text-align: center;
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 15px;
    /* box-shadow: rgb(1 104 55 / 10%) 0px 2px 8px 0px; */
}

.p-items img {
    max-width: 175px;
    width: 100%;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s linear;
}

.gallery-item:hover img {
    transform: scale(1.2);
}

.gallery-item {
    width: 33.33%;
    max-height: 400px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.g-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    content: '';
    transition: 0.4s;
    background: linear-gradient(#0551604d, #016837ab);
    opacity: 1;
}

.g-overlay:hover {
    opacity: 0;
}

.g-overlay h6 {
    font-size: 35px;
}

.section-4 .img-wrap img {
    max-width: 100%;
    padding: 0 15px;
}

.section-3.spacing {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}


@media (max-width: 1200px) {
    .gallery-item {
        width: 50%;
        max-height: 300px;
        object-fit: cover;
    }
}


@media(max-width:767px) {
    .g-overlay h6 {
        font-size: 30px;
    }

    .copyright {
        text-align: center;
    }

    .banner-wrap .b-image img {
        height: calc(75vh - 84px);
    }

    .banner-wrap {
        min-height: 350px;
    }

}

@media(max-width:450px) {

    .g-overlay h6 {
        font-size: 25px;
        text-align: center;
    }

    .gallery-item {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }
}

/* common Banner */
.inner-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('http://127.0.0.1:8000/static/img/banner-img-2.jpg');
    padding: 125px 0;
    text-align: center;
    position: relative;
    z-index: 100;
}

.inner-banner ul.pagination {
    justify-content: center;
}

.inner-banner:before {
    background-image: linear-gradient(270deg, #000, #000);
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    zoom: 1;
    opacity: .7;
    transition: opacity 3s;
    z-index: -1;
}

.inner-banner .inner_intro h1,
.inner-banner .inner_intro .pagination {
    color: #fff;
}

.inner-banner .inner_intro h1 {
    word-break: break-word;
    word-wrap: break-word;
    margin-bottom: 20px;
    font-weight: 600;
}



.inner-banner ul.pagination li>a {
    color: #d93;
}

.inner-banner ul.pagination li {
    font-size: 20px;
}

/* Contact Page */
.cm-alert {
    top: 75px;
    z-index: 999;
    border-radius: 0;
}
.detail-wrap .detail-icon span {
    width: 80px;
    height: 80px;
    background-color: #0168372b;
    border-radius: 50%;
    text-align: center;
    display: flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    position: relative;
}

.detail-wrap .detail-icon span:before {
    width: 40px;
    height: 40px;
    background-color: #0168372b;
    position: absolute;
    top: -7px;
    left: -8px;
    background-color: #0168372b;
    content: '';
    border-radius: 50%;
}

.detail-wrap .details-text p {
    margin-bottom: 0px;
}

.detail-wrap .details-text p a {
    font-weight: 500;
    color: #212532cc;
}

.detail-wrap {
    align-items: center;
    margin-bottom: 40px;
}

.detail-wrap .details-text p a:hover {
    color: #02291c;
}

.contact-2 {
    background-color: #effbf7;
}

.form-wrap {
    margin-top: 50px;
}
.form-wrap form{
    margin: 0 auto;
    
}

.form-wrap form input,
.form-wrap form textarea {
    display: inline-block;
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 8px 16px;
    color: #212532;
    border: 1px solid #016837;
    font-size: 20px;
}

.form-wrap form input:focus,
.form-wrap form textarea:focus {
    outline: none;
   border: 1px solid #83d3ad;
}

.form-wrap form input::placeholder,
.form-wrap form textarea:placeholder {
    color: #198754;
    opacity: .6
}

.form-wrap form .btn-primary {
    padding: 8px 24px;
    list-style: upper-alpha;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
section.contact-3 {
    margin-bottom: -54px;
}
section.contact-3> iframe {
    width: 100%;
}

@media(min-width:1024px) {
    .form-wrap form input[name='email'] {
        width: calc(50% - 10px);
        display: inline;
    }

    .form-wrap form input[name='name'] {
        width: calc(50% - 16px);
        display: inline;
        margin-right: 20px;
    }

}
.cm-alert {
    top: 10px;
    z-index: 999;
    border-radius: 0;
}
/* about us */
.desc p{
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 0 20px;
}
.t-innner {
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 35px;
}

.t-innner .rating-icon {
    color: #e49933;
    font-size: 20px;
    margin-bottom: 15px;
}

.t-innner .t-comment {
    margin-bottom: 20px;
}
.about-row-4 .p-items {
    padding: 25px;
}
.t-innner .t-author h5 {
    color: #000;
    font-weight: 600;
}

.t-innner .t-author h6 {
    color: #e49933;
    font-weight: 600;
    font-family: 'Open Sans';
}

.about-row-3 {
    background-image: url('http://127.0.0.1:8000/static/img/Protection-Relays.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.about-row-3 .container {
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.about-row-3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    content: '';
    transition: 0.4s;
    background: linear-gradient(#0551604d, #016837ab);
    opacity: 1;
    z-index: -1;
    background: #000000;
    opacity: 0.5;
}


/* Careers */
.job-item {
    margin-bottom: 24px;
    background-color: #effbf7;
    background-clip: border-box;
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
    border: 0;
    box-shadow: 0 2px 8px rgb(141 123 209 / 20%);
    margin: 10px 15px 25px 15px;
    min-height: 250px;
}

.job-item-inrer {
    HEIGHT: 100%;
}
.job-item-inrer h4 {
    color: #000;
}


p.j-desc {
    font-weight: 300;
    font-size: 16px;
}

p.j-location {
    margin-bottom: 5px;
}

.job-item-inrer .btn-primary {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 600;
}


/* price list */
.price-list .btn-wrap .btn {
    max-width: 410px;
    width: 100%;
    border-radius: 4px;
}

.price-list .btn-wrap {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}



.price-list .btn-wrap .btn {
    flex-grow: 1;
    flex-basis: 0 0 auto;
    width: auto;
    margin-bottom: 10px;
}

.price-list .btn-wrap .btn:not(:first-child) {
    margin-left: 12px;
}

@media(max-width:767px){
    .product-logo {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

/* Product listing */

.pl-item h5 {
    font-weight: 600;
    font-family: 'Open Sans';
    margin-bottom: 15px;
}

.pl-item {
    padding: 20px;
    box-shadow: 0 2px 8px rgb(141 123 209 / 20%);
    margin-bottom: 25px;
}

.pl-item .btn-wrap .btn {
    width: 100%;
    margin-bottom: 15px;
}

.pl-item .img img {
    transition-duration: .3s;
    transition-property: transform;
}

.pl-item:hover .img img {
    transform: scale(1.1);
}

.pl-item .img {
    overflow: hidden;
}

/* Search Page */
.search-item a.brown-link {
    font-weight: 600;
}

/* admin panel */
.form-wrap.admin-form form input[name='email']{
    width:100%;
}



.admin-home-page .row {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.admin-home-page .col-md-6 {
    text-align: center;
    padding: 20px 25px;
    margin-bottom: 50px;

}

.admin-home-page .form-wrap form input {
    font-size: 18px;
    padding: 8px 16px;
}

.admin-home-page .logo-wrap img {
    max-width: 125px;
}

.admin-lyt footer{
position: fixed;
width: 100%;
bottom:0;
text-align: center;
}