{% extends 'layout.html' %}
{% load static %}
{% block title %}
About Us - Traadwik
{% endblock title %}

{% block mainContent %}
<div class="inner-banner">
    <div class="container">
        <div class="inner_intro">
            <h1 class="display-4 wow fadeInUp">About Us</h1>
            <div class="cm-breadcrumb wow fadeInUp">
                <ul class="pagination">
                    <li class="cm-breadcrumb-item"><a href="/">Home </a></li>
                    <li class="cm-breadcrumb-item">&nbsp;/ About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="about-row-1 spacing">
    <div class="row text-center g-0">
        <div class="col-12 col-md-8 offset-md-2 wow fadeIn ">
            <p class="heading-brown fw-bolder mb-0 ">Explore</p>
            <h2 class="heading-dark-green display-5">Our <span class="heading-black">Story</span></h2>

            <div class="desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis optio impedit aliquam sint beatae
                    tenetur quasi esse expedita molestias possimus ullam ipsam aperiam officiis, eius quis architecto
                    velit libero natus. Blanditiis, officiis exercitationem reprehenderit deserunt voluptatibus autem
                    veniam iure consequatur fugit molestias esse dolore quidem a voluptates, pariatur cupiditate culpa
                    laudantium libero ex animi voluptatum fuga ab! Porro voluptates dolorem rem dicta dolore facilis
                    libero perspiciatis odio suscipit! Et, tempora laudantium? Quisquam quibusdam itaque voluptates
                    voluptatem iste magnam quia similique veritatis perferendis? Quam nam nobis quo fugiat nisi, numquam
                    explicabo itaque inventore quaerat adipisci pariatur ex deserunt vero, unde commodi veniam illum
                    ratione maxime reiciendis illo consequuntur magni sapiente? Error consequatur harum nisi velit
                    repellendus nesciunt atque, ad qui optio nam eos perspiciatis delectus aliquid rerum facilis esse
                    provident praesentium placeat deserunt totam cupiditate accusantium. Exercitationem facilis neque
                    nesciunt possimus, voluptates, iure explicabo dignissimos ipsa vero magnam velit quidem iste?</p>
            </div>
        </div>

    </div>

</section>

<section class="about-row-2 spacing ">
    <div class="row text-center g-0">
        <div class="col-12 col-md-8 offset-md-2 wow fadeIn ">
            <p class="heading-brown fw-bolder mb-0 ">Happy Clients</p>
            <h2 class="heading-dark-green display-5">Client Say's <span class="heading-black "> About Our Product
                </span></h2>
        </div>
    </div>
    <div class="container mt-5">
        <div class="testimonials ">
            <div class="row">
                <div class="col-md-4 testinomial-item">
                    <div class="t-innner">
                        <div class="rating-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="t-comment">
                            Client's name Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo necessitatibus, laboriosam excepturi porro quam est quasi officia et deserunt dignissimos.
                        </div>
                        <div class="t-author">
                            <h5>Clients's Name</h5>
                            <h6>Degisnation, Company's Name</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 testinomial-item">
                    <div class="t-innner">
                        <div class="rating-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="t-comment">
                            Client's name Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo necessitatibus, laboriosam excepturi porro quam est quasi officia et deserunt dignissimos.
                        </div>
                        <div class="t-author">
                            <h5>Clients's Name</h5>
                            <h6>Degisnation, Company's Name</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 testinomial-item">
                    <div class="t-innner">
                        <div class="rating-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="t-comment">
                            Client's name Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo necessitatibus, laboriosam excepturi porro quam est quasi officia et deserunt dignissimos.
                        </div>
                        <div class="t-author">
                            <h5>Clients's Name</h5>
                            <h6>Degisnation, Company's Name</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p_swiper-pagination"></div>
    </div>

</section>

<div class="about-row-3 ">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-8 col-10 offset-md-2 offset-1">
                <h4 class="text-white display-6 fw=bolder mb-3">
                    Our Vision
                </h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi officia maiores in deserunt alias? Earum dolore debitis repellendus dolores quis alias tenetur nihil perspiciatis delectus. Ipsam enim voluptatibus autem. Facilis.</p>
                <h5 class="mt-4">Founder & CEO</h5>
            </div>
        </div>
    </div>
</div>

<section class="about-row-4 spacing">
    <div class="row text-center g-0">
        <div class="col-12 col-md-8 offset-md-2 wow fadeIn ">
            <p class="heading-brown fw-bolder mb-0 ">Our Brands</p>
            <h2 class="heading-dark-green display-5">Our Latest <span class="heading-black "> Products Brands </span>
            </h2>
        </div>
    </div>
    <div class="container mt-4">
        <div class="partners swiper">
            <div class="p-slides swiper-wrapper">
                <div class="p-items swiper-slide">

                    <img src="https://slidesigma.com/themes/wp/weefly/wp-content/uploads/2021/12/ww-weedo-green.png"
                        alt="traadwik-logo" srcset="">
                </div>
                <div class="p-items swiper-slide">
                    <img src="https://slidesigma.com/themes/wp/weefly/wp-content/uploads/2021/12/ww-recreational-green.png"
                        alt="traadwik-logo" srcset="">
                </div>
                <div class="p-items swiper-slide">
                    <img src="https://slidesigma.com/themes/wp/weefly/wp-content/uploads/2021/12/ww-weedo-green.png"
                        alt="traadwik-logo" srcset="">
                </div>
                <div class="p-items swiper-slide">
                    <img src="https://slidesigma.com/themes/wp/weefly/wp-content/uploads/2021/12/ww-medicanna-green.png"
                        alt="traadwik-logo" srcset="">
                </div>
                <div class="p-items swiper-slide">
                    <img src="https://slidesigma.com/themes/wp/weefly/wp-content/uploads/2021/12/ww-recreational-green.png"
                        alt="traadwik-logo" srcset="">
                </div>
                <div class="p-items swiper-slide">
                    <img src="https://slidesigma.com/themes/wp/weefly/wp-content/uploads/2021/12/ww-weedo-green.png"
                        alt="traadwik-logo" srcset="">
                </div>
                <div class="p-items swiper-slide">
                    <img src="https://slidesigma.com/themes/wp/weefly/wp-content/uploads/2021/12/ww-medicanna-green.png"
                        alt="traadwik-logo" srcset="">
                </div>
            </div>
        </div>
        <div class="p_swiper-pagination"></div>
    </div>

</section>

{% endblock mainContent %}
{% block pageScript %}
<script>
    var swiper = new Swiper(".about-row-4  .partners", {
        autoplay: {
            delay: 3000,
        },
        loop: true,
        speed: 1000,
        slidesPerView: 1,
        spaceBetween: 30,
        grabCursor: true,
        scrollbar: {
            el: '.our-clients .swiper-scrollbar',
            draggable: true,
        },
        pagination: {
            el: ".p_swiper-pagination",
            dynamicBullets: true,
        },

        breakpoints: {
            // when window width is >= 320px
            320: {
                slidesPerView: 3,
                spaceBetween: 20
            },
            // when window width is >= 480px
            480: {
                slidesPerView: 4,
                spaceBetween: 20
            },
            // when window width is >= 640px
            991: {
                slidesPerView: 5,
                spaceBetween: 35
            }
        }
    });
</script>
{% endblock pageScript %}