{% extends 'layout.html' %}
{% load static %}
{% block title %}
Careers - Traadwik
{% endblock title %}

{% block mainContent %}
<div class="inner-banner">
    <div class="container">
        <div class="inner_intro">
            <h1 class="display-4 wow fadeInUp">Careers</h1>
            <div class="cm-breadcrumb wow fadeInUp">
                <ul class="pagination">
                    <li class="cm-breadcrumb-item"><a href="/">Home </a></li>
                    <li class="cm-breadcrumb-item">&nbsp;/ Careers</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock mainContent %}