{% extends 'layout.html' %}
{% load static %}
{% block title %}
Careers - Traadwik
{% endblock title %}

{% block mainContent %}
<div class="inner-banner">
    <div class="container">
        <div class="inner_intro">
            <h1 class="display-4 wow fadeInUp">Careers</h1>
            <div class="cm-breadcrumb wow fadeInUp">
                <ul class="pagination">
                    <li class="cm-breadcrumb-item"><a href="/">Home </a></li>
                    <li class="cm-breadcrumb-item">&nbsp;/ Careers</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="about-row-1   careers-row-1 spacing">
    <div class="row text-center g-0">
        <div class="col-12 col-md-8 offset-md-2 wow fadeInUp ">
            <p class="heading-brown fw-bolder mb-0 ">We Have</p>
            <h2 class="heading-dark-green display-5">Current <span class="heading-black">Openings</span></h2>

            <div class="desc wow fadeInUp">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis optio impedit aliquam sint beatae
                    tenetur quasi esse expedita molestias possimus ullam ipsam aperiam officiis, eius quis architecto
                    velit libero natus. Blanditiis, officiis exercitationem reprehenderit deserunt voluptatibus autem
                    veniam iure consequatur fugit molestias esse dolore quidem a voluptates, pariatur cupiditate culpa
                    laudantium libero ex animi voluptatum fuga ab! Porro voluptates dolorem rem dicta dolore facilis
                    libero perspiciatis odio suscipit! Et, tempora laudantium? Quisquam quibusdam itaque voluptates
                    voluptatem iste magnam quia similique veritatis perferendis?</p>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn btn-primary">Views All Jobs</button>
            </div>
        </div>
    </div>
</section>

<section class="about-row-2   careers-row-2 spacing">
    <div class="row text-center g-0">
        <div class="col-12 col-md-8 offset-md-2 wow  fadeInUp ">
            <h2 class="heading-dark-green display-5">Jobs <span class="heading-black">Openings</span></h2>
        </div>
    </div>
    <div class="jobs-card container mt-5">
        <div class="jobs-inner row g-0">
            {% if cList|length > 0%}
            {%for item in cList%}
            <div class="col-md-6 col-lg-4">
                <div class="job-item wow  zoomIn">
                    <div class="job-item-inrer">
                        <h4>{{item.role}}</h4>
                        <p class="j-location">{{item.location}}</p>
                        <p class="j-desc">{{ item.description_1 }}</p>
                        <a href="mailto:{{item.contact_email}}" class="btn btn-primary mt-2">Apply Now</a>
                    </div>
                </div>
            </div>

         
            {% endfor %}
            {%else %}
            <div class="row c-items">
                <div class="col-md-3 col-12">
                    <h6>No role</h6>
                </div>
                <div class="col-md-7 col-12">
                    <p>No vacanies found at that time.</p>
                    <p>for Upcoming vacanies Please emailed your skills, details and locations. </p>
                </div>
                <div class="col-md-2 col-12">
                    <a href="careers@traadwik.com">Send Here</a>
                </div>
            </div>
            {%endif%}

        </div>
    </div>
</section>
{% endblock mainContent %}