
{% extends 'adminLayout.html' %}
{% load static %}
{% block title %}
Admin Login - Traadwik
{% endblock title %}

{% block mainContent %}
<section class="dashboard">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="logo-wrap ">
                    <a href="/"><img src="{% static '/img/Traadwik-logo.png' %}" alt="Traadwik"></a>
                    <h4 class="heading-black mt-2">Traadwik Electic Pvt. Ltd.</h4>
                </div>
             
            </div>
        </div>
    </div>
</section>
{% endblock mainContent %}