{% extends 'layout.html' %}
{% load static %}
{% block title %}
Price List - Traadwik
{% endblock title %}

{% block mainContent %}
<div class="inner-banner">
    <div class="container">
        <div class="inner_intro">
            <h1 class="display-4 wow fadeInUp">Price Lists</h1>
            <div class="cm-breadcrumb wow fadeInUp">
                <ul class="pagination">
                    <li class="cm-breadcrumb-item"><a href="/">Home </a></li>
                    <li class="cm-breadcrumb-item">&nbsp;/ Price Lists</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="about-row-1   careers-row-1 spacing">
    <div class="row text-center g-0">
        <div class="col-12 col-md-8 offset-md-2 wow fadeInUp ">
            <p class="heading-brown fw-bolder mb-0 ">Here</p>
            <h2 class="heading-dark-green display-5">Brand's <span class="heading-black">Price Lists</span></h2>
            <div class="desc wow fadeInUp">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis optio impedit aliquam sint beatae
                    tenetur quasi esse expedita molestias possimus ullam ipsam aperiam officiis.</p>
            </div>
        </div>
    </div>
    <div class="container spacing price-list">
        <div class="inner">
            {% if pList|length > 0 %}
            {% for item in pList %}

            <div class="row g-0 mb-5">
                <div class="col-md-7 product-logo">
                    <img src="/media/{{item.img}}"
                        alt="{{item.brand_name}}">
                </div>
                <div class="col-md-5">
                    <div class="btn-wrap">
                        <a href="/media/{{item.pdf}}"
                            target="_blank" class="btn btn-primary">Price List</a>
                    </div>
                </div>
            </div>

            {% endfor %}
            {%else%}

            <div class="row c-items">
                <div class="col-md-3 col-12">
                    <h6>No role</h6>
                </div>
                <div class="col-md-7 col-12">
                    <p>No vacanies found at that time.</p>
                    <p>for Upcoming vacanies Please emailed your skills, details and locations. </p>
                </div>
                <div class="col-md-2 col-12">
                    <a href="mailto:rahul.lodhi5003@gmail.com">Send Here</a>
                </div>
            </div>

            {%endif %}
        </div>
    </div>
</section>


{% endblock mainContent %}